body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    box-sizing: border-box;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden; /* This fixes css animation bugs. */

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        animation-name: move-in-left;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        
        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
        /*animation-iteration-count: 3;
        animation-delay: 0.5s;*/
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
        animation: move-in-right 0.5s ease-in-out;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark); // Adding gradient behind text
    -webkit-background-clip: text; // Clips gradient to text
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }
    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(2deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $defualt-font-size;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph {
    font-size: $defualt-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}